---
import { Header } from '@components/misc';
import { BaseHead } from '@components/seo';
import { SITE_TITLE } from '@data/index';
import { SITE_DESCRIPTION, socialLinks } from '@data/index';
import RootLayout from '@layouts/root-layout.astro';
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			image='/images/ogimage.png'
		/>
	</head>

	<RootLayout>
		<div
			id='navbar+title'
			class='flex flex-col w-full gap-6 max-w-xl lowercase'>
			<Header />
			<h1
				class='w-full text-start text-[min(12vw,72px)] font-medium leading-[0.9] tracking-[-2px] sm:tracking-[-4px]'>
				meet rebecca
				<span class='text-gray-500 dark:text-gray-400'>engineer & writer</span>
			</h1>

			<div
				id='about'
				class='flex flex-col gap-4'>
				<div class='font-medium text-lg text-gray-700 dark:text-gray-400'>
					I'm a software engineer at <a
						href='https://americanexpress.com'
						target='_blank'
						class='underline underline-offset-2'
						>American Express.</a
					> Since I was a kid, I have been an obsessive problem solver that loves to explain why things work. That instinct drives me today-whether it's mentoring young talent or translating complex tech into something the business can believe in.
				</div>

				<div class='font-medium text-lg text-gray-700 dark:text-gray-300'>
					Since 2018 I have been leading volunteers on the multimedia engineering team at my local church: 
					<a
						href='https://cdamiami.org'
						target='_blank'
						class='underline underline-offset-2'
						>CDA Miami</a
					> and writing almost daily.
				</div>

				<div class='font-medium text-lg text-gray-700 dark:text-gray-300'>
					Outside of coding and writing, I'm the most adventurous person you will ever meet. I'll scale a mountain pass, dive into any new architecture, or simply rave about astrophysics for an hour.  
				</div>

				<div class='font-medium text-lg text-gray-700 dark:text-gray-300'>
				Yes, my favorite movie is Interstellar - curiosity and love will always outweigh fear.
				</div>

				<div class='font-medium text-lg text-gray-700 dark:text-gray-300'>
					<em>“The joy of the <span class='uppercase'>L</span>ord is the pilot of my ship.”</em> - <span class='uppercase'>G</span>eorge <span class='uppercase'>M</span>üller
				</div>

				<div class='font-medium text-lg text-gray-700 dark:text-gray-400'>
					Want to collaborate? 
					<a
						href='mailto:rcamejo04@gmail.com?'
						target='_blank'
						class='underline underline-offset-2'>
						email me
					</a>
				</div>
			</div>

			<div
				id='social-links'
				class='flex flex-row gap-4'>
				{
					socialLinks.map((link) => (
						<a
							href={link.url}
							class='text-lg font-medium text-gray-700 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 hover:underline underline-offset-2'>
							{link.label}
						</a>
					))
				}
			</div>
		</div>
	</RootLayout>
</html>
